/* Global styles for body and text elements */
body,p,h1,p {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Header styling */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

/* Logo styling */
.logo {
    width: 8%;
    cursor: pointer;
}

/* Movie details container */
.movie-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    background: black;
}

/* Movie poster styling */
.movie-poster{
    width:508px;
    height: 432px;
}
#moviePoster{
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

/* Movie information section */
.movie-info {
    width: 55%;
}

/* Movie title styling */
.movie-info h1{
    color: #d4aa11;
    font-size: 50px;
}

/* Plot styling */
#plot{
    line-height: 1.3;
    font-size: 18px;
}

/* Movie data styling */
.movie-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

/* Design class styling */
.design {
    display: flex;
    flex-direction: row;
    align-items:center ;
    gap: 10px;
    color:white;
    margin: 20px 0;
}

/* Styling for bold text elements */
span{
    font-weight: bold;
    color: #d4aa11;
}


/* Favorite button styling */
.favoriteBtn{
    color:white;
    font-weight: bolder;
    padding: 7px;
    text-align: center;
    width:30%;
    background: #d4aa11;
    border-radius: 5px;
    border:1px solid transparent;
    cursor: pointer;
    margin: 20px 0;
}

/* Favorite button hover styling */
.favoriteBtn:hover{
    background: #1d1d1d;
    color:#d4aa11;
    border:1px solid #d4aa11
}


