/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 90px 0 0 0;
  padding: 0;
  background: #0c0c0c;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: black;
  position: fixed;
  top: 0;
  z-index: 2;
}

/* Logo styles */
#netflix-logo{
  margin: 20px;
  width: 8%;
}

/* Label and input styles */
label {
  font-size: 24px;
  color: white;
  width: 65%;
}

input[type="text"] {
  width: 75%;
  font-size: 24px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* "Favorite Movies" button styles */
.all-favourite-Btn {
  color: white;
  font-size: 24px;
  margin-right: 30px;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: rgb(201, 22, 22);
}

.all-favourite-Btn:hover {
  color: rgb(201, 22, 22);
  background-color: black;
  border: 1px solid rgb(201, 22, 22);
  cursor: pointer;
}

/* Search results styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 670px;
  height: 460px;
  overflow-y: auto;
  position: absolute;
  top: 80%;
  left: 29.1%;
  visibility: hidden;
}

li {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-bottom: 1px solid lightgray;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  position: relative;
}

li:hover {
  background-color: #0c0c0c;
  cursor: pointer;
}

/* Thumbnail styles */
.search-item-thumbnail {
  width: 10%;
  height: 100%;
}

.search-item-thumbnail img {
  width: 100%;
  height: 100%;
}

/* Search item information styles */
.search-item-info {
  width: 60%;
  color: white;
  text-transform: capitalize;
}


/* Favorite button styles */
.favoriteBtn {
  position: absolute;
  top: 30%;
  right: 10px;
  background-color: rgb(201, 22, 22);
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.favoriteBtn:hover {
  background-color: black;
  border: 1px solid rgb(201, 22, 22);
  color: rgb(201, 22, 22);
}


/* ----Common Design all Sections---- */

.movie-section h1 {
  color: white;
  font-size: 1.5rem;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.movies-box {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
}

/* Apply custom styles to the scrollbar */
.movies-box::-webkit-scrollbar {
  height: 1px;
}

.movies-box div {
  width: 290px;
  height: 170px;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.5s ease-in-out;
}

.movie-container div img {
  width: 290px;
  height: 170px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
} 

.movie-container div img:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

.movie-container {
  position: relative;
}

.navigation-button{
  width: 60px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 9.3%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.movie-container:hover .navigation-button{
  opacity: 0.8;
  z-index: 1;
}

.previous{
  left: 15px;
}

.next {
  right: 0%;
}

/* ----Trending Movies---- */

.trending-container div {
  width: 250px;
  height: 340px;
}

.trending-container div img {
  width: 250px;
  height: 340px;
}

.trending-previous, 
.trending-next{
  width: 80px;
  height: 340px;
  top: 5.3%; 
}
