/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0 0 0 0;
  padding: 0;
  background: #0c0c0c;
  overflow-x: hidden;
}

/* Header styles */
.header {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 2;
}

/* Logo styles */
#netflix-logo {
  margin: 15px 0 15px 1.5%;
  width: 120px;
  height: 40px;
}

/* "WatchList" button styles */
.watchList-Btn {
  width: 137px;
  height: 40px;
  margin: 15px 3.5% 15px 0px;
  padding: 5px 15px;
  font-size: 24px;
  color: rgb(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: rgb(201, 22, 22);
}

.watchList-Btn:hover {
  color: rgb(201, 22, 22);
  background-color: black;
  border: 1px solid rgb(201, 22, 22);
  cursor: pointer;
}

.input-container {
  width: 48vw;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* input styles */
input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 24px;
  border-radius: 5px;
  border: transparent;
  background: rgba(255, 255, 255, 0.3);
}

input::-webkit-input-placeholder {
  color: black;
}

#searchResults {
  width: 48vw;
  height: 460px;
  overflow-y: auto;
  position: absolute;
  top: 57px;
  visibility: hidden;
}

#searchResults::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  background-color: lightgrey;
}

#searchResults::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

#searchResults::-webkit-scrollbar-thumb:hover {
  background-color: #444444;
}

.movie-list {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  background: #000;
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}

.movie-list:hover {
  background-color: #181818;
  cursor: pointer;
}

/* Thumbnail styles */
.search-item-thumbnail {
  width: 10%;
  height: 100%;
}

.search-item-thumbnail img {
  width: 100%;
  height: 100%;
}

/* Search item information styles */
.search-item-info {
  width: 48%;
  height: 100%;
  color: white;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-item-info h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.search-item-info p {
  margin: 0;
  padding: 0;
}

/* WatchList button styles */
.watchListBtn {
  position: absolute;
  top: 30%;
  right: 10px;
  background-color: rgb(201, 22, 22);
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.watchListBtn:hover {
  background-color: black;
  border: 1px solid rgb(201, 22, 22);
  color: rgb(201, 22, 22);
}

/* ----Banner---- */

#banner-container {
  width: 98.75vw;
  height: 72.5vh;
  margin-bottom: 7px;
  position: relative;
}

#banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

#details-container {
  position: absolute;
  bottom: 18%;
  left: 3%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 1;
}

#banner-title {
  margin: 0;
  color: white;
  font-size: 48px;
  font-weight: 800;
}

#button-container {
  display: flex;
  gap: 15px;
}

#more-info,
#play-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px 20px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

#play-button {
  background-color: #fff;
  color: #000;
  padding: 7px 25px;
}

#play-button:hover {
  background-color: rgba(109, 109, 110, .9);
}

#more-info {
  background-color: rgba(109, 109, 110, .7);
  color: #fff;
}

#more-info:hover {
  background-color: rgb(109, 109, 110);
}

#info-icon {
  width: 18px;
  height: 18px;
}

#empty {
  width: 98.75vw;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, .61), #111);
  position: absolute;
  bottom: 0;
}

/* ----Common Design all Sections---- */

.movie-section h1 {
  color: white;
  font-size: 1.5rem;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.movies-box {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
}

/* Apply custom styles to the scrollbar */
.movies-box::-webkit-scrollbar {
  height: 1px;
}

.movies-box div {
  width: 290px;
  height: 170px;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.5s ease-in-out;
}

.movies-box div img {
  width: 290px;
  height: 170px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.movies-box div img:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

.movie-container {
  position: relative;
}

.navigation-button {
  width: 60px;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 9.3%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.movie-container:hover .navigation-button {
  opacity: 0.8;
  z-index: 1;
}

.previous {
  left: 15px;
}

.next {
  right: 0%;
}

/* ----Netflix Movies---- */

.netflix-container div {
  width: 250px;
  height: 340px;
}

.netflix-container div img {
  width: 250px;
  height: 340px;
}

.netflix-previous,
.netflix-next {
  width: 80px;
  height: 340px;
  top: 5.3%;
}


/* ----Media Query---- */

@media only screen and (max-width: 560px) {
  .header {
    flex-direction: column;
    height: 120px;
    position: fixed;
    top: 0;
  }

  .watchList-Btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .input-container {
    width: 94.3%;
    margin-left: 2.3%;
    margin-right: 2.3%;
    position: absolute;
    top: 55px;
  }

  #searchResults {
    width: 100%;
    height: 300px;
    top: 43px;
  }

  .movie-list {
    gap: 10px;
  }

  .search-item-thumbnail {
    width: 12%;
  }

  .search-item-info h3 {
    font-size: 0.8rem;
  }

  .search-item-info p {
    font-size: 0.7rem;
  }

  .watchListBtn {
    right: 5px;
    font-size: 12px;
  }

  #banner-container {
    width: 100vw;
  }

  #banner-title {
    font-size: 40px;

  }

  #details-container {
    bottom: 12%;

  }

  #empty {
    width: 100vw;
  }

  .movie-section h1 {
    font-size: 1.2rem;
  }

  .movies-box {
    gap: 4px;
  }

  .movies-box div {
    width: 120px;
    height: 90px;
    margin: 8px 0;
  }

  .movies-box div img {
    width: 120px;
    height: 90px;
  }

  .navigation-button {
    width: 40px;
    height: 90px;
    top: 8%;
    font-size: 1.6rem;
  }

  .netflix-container div {
    width: 120px;
    height: 150px;
  }

  .netflix-container div img {
    width: 120px;
    height: 150px;
  }

  .netflix-previous,
  .netflix-next {
    width: 40px;
    height: 150px;
    top: 5%;
  }
}

@media only screen and (min-width: 561px) and (max-width: 780px) {
  .search-item-thumbnail {
    width: 25%;
  }

  .watchListBtn {
    position: relative;
    top: 0;
    right: 5px;
    font-size: 14px;
  }

  .search-item-info h3 {
    font-size: 0.9rem;
  }

  .search-item-info p {
    display: none;
  }

  #banner-container {
    width: 100vw;
  }

  #details-container {
    bottom: 12%;
    gap: 15px;
  }

  #banner-title {
    font-size: 42px
  }

  #empty {
    width: 100vw;
  }

  .movie-section h1 {
    font-size: 1.4rem;
  }

  .movies-box {
    gap: 5px;
  }

  .movies-box div {
    width: 200px;
    height: 130px;
    margin: 10px 0;
  }

  .movies-box div img {
    width: 200px;
    height: 130px;
  }

  .navigation-button {
    width: 45px;
    height: 130px;
    top: 7%;
    font-size: 2rem;
  }

  .netflix-container div {
    width: 180px;
    height: 200px;
  }

  .netflix-container div img {
    width: 180px;
    height: 200px;
  }

  .netflix-previous,
  .netflix-next {
    width: 50px;
    height: 200px;
    top: 4.8%;
  }
}

@media only screen and (min-width:781px) and (max-width: 1250px) {
  .search-item-thumbnail {
    width: 15%;
  }

  .search-item-info h3 {
    font-size: 0.9rem;
  }

  .search-item-info p {
    font-size: 0.8rem;
  }

  .watchListBtn {
    position: relative;
    top: 0;
    right: 5px;
    font-size: 14px;
  }

  #banner-container {
    width: 100vw;
  }

  #details-container {
    bottom: 14%;
    gap: 15px;
  }

  #empty {
    width: 100vw;
  }

  .movies-box div {
    width: 230px;
    height: 150px;
    margin: 15px 0;
  }

  .movies-box div img {
    width: 230px;
    height: 150px;
  }

  .navigation-button {
    width: 55px;
    height: 150px;
    top: 7.9%;
    font-size: 2.3rem;
  }

  .netflix-container div {
    width: 250px;
    height: 270px;
  }

  .netflix-container div img {
    width: 250px;
    height: 270px;
  }

  .netflix-previous,
  .netflix-next {
    width: 50px;
    height: 270px;
    top: 4.8%;
  }
}