/* Global styles for body and text elements */
body,p,h1,p {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styling */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #1d1d1d;
}

/* Logo styling */
.logo {
    width: 8%;
    cursor: pointer;
}

/* Movie details container */
.movie-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    background: #1d1d1d;
}

/* Movie poster styling */
#moviePoster{
    border: 5px solid white;
}

/* Movie information section */
.movie-info {
    width: 55%;
}

/* Movie title styling */
.movie-info h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #d4aa11;
}

/* Movie data styling */
.movie-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Styling for movie year and release */
#movieYear,#release{
    font-weight: bold;
    color: white;
}

/* Rating styling */
#rating{
    font-weight: bold;
    color: white;
    background-color:#d4aa11 ;
    padding: 8px;
}

/* Genre styling */
.genre{
    background: #292929;
    padding:8px;
    border-radius: 5px;
    width: 50%;
}

/* Plot styling */
#plot{
    line-height: 20px;
}

/* Design class styling */
.design {
    display: flex;
    flex-direction: row;
    align-items:center ;
    gap: 10px;
    color:white;
    margin: 20px 0;
}

/* Styling for bold text elements */
span{
    font-weight: bold;
}

/* Language styling */
.language{
    color:#d4aa11;
    font-style: italic;
}

/* Awards logo styling */
#awards-logo {
    width: 25px;
    height: 25px;
}

/* Favorite button styling */
.favoriteBtn{
    color:white;
    font-weight: bolder;
    padding: 7px;
    text-align: center;
    width:30%;
    background: #d4aa11;
    border-radius: 5px;
    border:1px solid transparent;
    cursor: pointer;
}

/* Favorite button hover styling */
.favoriteBtn:hover{
    background: #1d1d1d;
    color:#d4aa11;
    border:1px solid #d4aa11
}


